<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="colinbits.io.playground" >

    <application android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".SwearLister"
            android:exported="true" />
        <activity
            android:name=".WordView"
            android:label="@string/title_activity_word_view"
            android:parentActivityName=".SwearLister" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="colinbits.io.playground.SwearLister" />
        </activity>
    </application>

</manifest>
